body, html {
  height: 100%;
}

body {
  @apply bg-neutral-100 text-neutral-800 text-sm;
}

button.action {
  @apply rounded-full pt-1 pb-1.5 px-2.5 bg-white font-medium border border-neutral-700
    hover:bg-neutral-200 active:bg-neutral-300
    disabled:text-neutral-500 disabled:border-neutral-500 disabled:bg-neutral-100
    cursor-pointer disabled:cursor-default;
}

.card {
  @apply rounded-lg font-medium uppercase;
}
